.Selector {
    display: flex;
}

.RightSelector {
    border:solid 1px rgb(225,225,225);
    border-top: none;
}

/* Seat Modal*/
.SeatModal {
    position: absolute;
    right: 200px;
    box-shadow: 0 13px 27px -5px rgba(0,0,0,0.75),
    0 8px 16px -8px rgba(0,0,0,0.3), 0 -6px 16px -6px rgba(0,0,0,0.025);
    width: 925px;
    height: 773px;
    margin: auto;
    z-index: 1;
}