.Seats {
    background-color: white;
    border: solid 1px black;
    width: 402px;
    border-radius: 10px;
    margin:10px;
}

.SeatConstructor {
    display: flex;
    height: 40px;
}

.SeatConstructor button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.SeatConstructor .Available {
    background-color: aquamarine;
}

.SeatConstructor .Available:hover {
    background-color: aqua;
}

.SeatConstructor .Booked {
    background-color: brown;
}

.SeatConstructor .Booked:hover {
    background-color: crimson;
}

.SeatConstructor .Disabled {
    background-color: darkgrey;
}

.SeatConstructor .Null {
    opacity: 0;
}

.SeatConstructor .Seatnum {
    opacity: 0;
}