.Seatbook {
    width: 600px;
}
.Seatbook button {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.Seatbook .Available {
    background-color: skyblue;
}

.Seatbook .Null {
    opacity: 0;
}

.Seatbook .Selected {
    background-color: burlywood;
}